.menu {
  font-size: 30px;
  line-height: 140%;
  font-weight: 600;
  color:  #000;
  white-space: nowrap;
}

.menu .sml {
  font-size: 17px;
  line-height: 170%;
  margin-bottom: 6px;
  padding: 0px 3px;
}

.menu .selected {
  color: #00f;
}


.menu .grpc {
  height: 0;
  overflow: hidden;
}
.menu .grpc.open {
  height: unset;
  overflow: unset;
  margin: 30px 0px;
}